[Unit]
Description=@eXpeditious Sensors service
After=influxd.service

[Service]
Type=simple
Restart=always
User=captain
WorkingDirectory=/home/captain/smart_boat/scripts
ExecStart=/home/captain/smart_boat/scripts/sensors-influxdb.py
Nice=-15
# KillSignal=SIGINT

[Install]
WantedBy=multi-user.target